<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apple.newsingit_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dialog.KeywordListActivity"
            android:label="@string/title_activity_keyword_list"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditMyInfoActivity"
            android:exported="true"
            android:label="@string/title_activity_edit_my_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AlarmListActivity"
            android:exported="true"
            android:label="@string/title_activity_alarm_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateFolderActivity"
            android:label="@string/title_activity_create__folder_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FollowerListActivity"
            android:exported="true"
            android:label="@string/title_activity_follower_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FollowingListActivity"
            android:exported="true"
            android:label="@string/title_activity_following_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NoticeActivity"
            android:exported="true"
            android:label="@string/title_activity_notice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectNewsDetailActivity"
            android:label="@string/title_activity_select_news_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchTabActivity"
            android:exported="true"
            android:label="@string/title_activity_search_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserScrapContentListActivity"
            android:label="@string/title_activity_user_scrap_content_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>